In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import cross_validate, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import make_pipeline

In [2]:
#load data
X_test = pd.read_csv('X_test', index_col = 0)
X_test.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
43153,0,220,12.0,0,0,0,1
56990,0,220,14.0,0,0,0,1
43733,0,220,6.5,0,0,0,1
72993,0,220,11.0,1,0,0,0
56757,0,220,9.5,0,0,1,0

In [3]:
X_train = pd.read_csv('X_train', index_col=0)
X_train.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
33563,0,220,4.0,0,1,0,0
16149,0,220,11.0,0,0,1,0
62696,0,220,11.0,1,0,0,0
22918,0,220,10.0,0,0,0,1
57554,0,220,12.0,0,0,0,1

In [4]:
y_train = pd.read_csv('y_train', index_col=0)
y_train.head()

          ROI
33563    9.09
16149   80.45
62696   18.18
22918  156.82
57554    6.36

In [5]:
y_test = pd.read_csv('y_test', index_col=0)
y_test.head()

         ROI
43153  27.27
56990  36.36
43733  24.55
72993  28.64
56757   4.09

In [6]:
X_train_scaled = pd.read_csv('X_train_scaled', index_col=0)
X_train_scaled.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
0,-0.58719,0.424191,-2.279876,-0.525917,1.793618,-0.618583,-0.607326
1,-0.58719,0.424191,0.720366,-0.525917,-0.557532,1.616597,-0.607326
2,-0.58719,0.424191,0.720366,1.901441,-0.557532,-0.618583,-0.607326
3,-0.58719,0.424191,0.291760,-0.525917,-0.557532,-0.618583,1.646562
4,-0.58719,0.424191,1.148972,-0.525917,-0.557532,-0.618583,1.646562

In [7]:
X_test_scaled = pd.read_csv('X_test_scaled', index_col=0)
X_test_scaled.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
0,-0.58719,0.424191,1.148972,-0.525917,-0.557532,-0.618583,1.646562
1,-0.58719,0.424191,2.006184,-0.525917,-0.557532,-0.618583,1.646562
2,-0.58719,0.424191,-1.208361,-0.525917,-0.557532,-0.618583,1.646562
3,-0.58719,0.424191,0.720366,1.901441,-0.557532,-0.618583,-0.607326
4,-0.58719,0.424191,0.077457,-0.525917,-0.557532,1.616597,-0.607326

In [8]:
X_train_mmscaled = pd.read_csv('X_train_mmscaled', index_col=0)
X_train_mmscaled.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
0,0.0,0.75,0.037037,0.0,1.0,0.0,0.0
1,0.0,0.75,0.555556,0.0,0.0,1.0,0.0
2,0.0,0.75,0.555556,1.0,0.0,0.0,0.0
3,0.0,0.75,0.481481,0.0,0.0,0.0,1.0
4,0.0,0.75,0.629630,0.0,0.0,0.0,1.0

In [9]:
X_test_mmscaled = pd.read_csv('X_test_mmscaled', index_col=0)
X_test_mmscaled.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
0,0.0,0.75,0.629630,0.0,0.0,0.0,1.0
1,0.0,0.75,0.777778,0.0,0.0,0.0,1.0
2,0.0,0.75,0.222222,0.0,0.0,0.0,1.0
3,0.0,0.75,0.555556,1.0,0.0,0.0,0.0
4,0.0,0.75,0.444444,0.0,0.0,1.0,0.0

In [10]:
y_train_trans = pd.read_csv('y_train_trans', index_col=0)
y_train_trans.head()

        ROI
0 -1.214983
1  0.032613
2 -0.916820
3  0.639804
4 -1.340153

In [11]:
y_test_trans = pd.read_csv('y_test_trans', index_col=0)
y_test_trans.head()

        ROI
0 -0.704178
1 -0.533926
2 -0.762239
3 -0.676355
4 -1.471094

In [12]:
#Linear regression on original train test split
lm = LinearRegression()
lm.fit(X_train, y_train)
y_tr_pred = lm.predict(X_train)
y_te_pred = lm.predict(X_test)

In [13]:
#Calculate r2 score
r2_score(y_train, y_tr_pred), r2_score(y_test, y_te_pred)

(0.4445537993455373, 0.4572974859044415)

In [14]:
#Calculate MAE
mean_absolute_error(y_train, y_tr_pred), mean_absolute_error(y_test, y_te_pred)

(64.58707089388666, 63.35553292198205)

In [15]:
#Calculate MSE
mean_squared_error(y_train, y_tr_pred), mean_squared_error(y_test, y_te_pred)

(12160.829932794784, 11781.241724178282)

In [16]:
#Random forest on original train test split
rf = RandomForestRegressor(random_state=350)
rf.fit(X_train, y_train)
y_tr_pred_rf = rf.predict(X_train)
y_te_pred_rf = rf.predict(X_test)

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
r2_score(y_train, y_tr_pred_rf), r2_score(y_test, y_te_pred_rf)

(0.6923066313808448, 0.6721673569048686)

In [18]:
mean_absolute_error(y_train, y_tr_pred_rf), mean_absolute_error(y_test, y_te_pred_rf)

(49.74791442906202, 50.276368003732145)

In [19]:
mean_squared_error(y_train, y_tr_pred_rf), mean_squared_error(y_test, y_te_pred_rf)

(6736.5781291103285, 7116.74538640509)

In [20]:
#Random forest gives us a much better model
#Random forest on same X dataset but y transformed
rf_log = RandomForestRegressor(random_state=350)
rf_log.fit(X_train, y_train_trans)
y_tr_pred_rf2 = rf_log.predict(X_train)
y_te_pred_rf2 = rf_log.predict(X_test)

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [21]:
r2_score(y_train_trans, y_tr_pred_rf2), r2_score(y_test_trans, y_te_pred_rf2)

(0.5684322852636348, 0.5732260905245302)

In [22]:
mean_absolute_error(y_train_trans, y_tr_pred_rf2), mean_absolute_error(y_test_trans, y_te_pred_rf2)

(0.4656890124478775, 0.46523295817225907)

In [23]:
mean_squared_error(y_train_trans, y_tr_pred_rf2), mean_squared_error(y_test_trans, y_te_pred_rf2)

(0.4315677147363653, 0.4204426961365562)

In [24]:
#Log transformation on our y gives us a worse model
#Now we will do random forest on our X scaled data
rf2 = RandomForestRegressor(random_state=350)
rf2.fit(X_train_scaled, y_train)
y_tr_pred_rf3 = rf2.predict(X_train_scaled)
y_te_pred_rf3 = rf2.predict(X_test_scaled)

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [25]:
r2_score(y_train, y_tr_pred_rf3), r2_score(y_test, y_te_pred_rf3)

(0.6922895070022033, 0.6720565008961472)

In [26]:
mean_absolute_error(y_train, y_tr_pred_rf3), mean_absolute_error(y_test, y_te_pred_rf3)

(49.75032396466483, 50.282911352210746)

In [27]:
mean_squared_error(y_train, y_tr_pred_rf3), mean_squared_error(y_test, y_te_pred_rf3)

(6736.95304689016, 7119.151900842382)

In [28]:
#Results from these are very close to our original model
#Random Forest on X minmaxscaled
rf3 = RandomForestRegressor(random_state=350)
rf3.fit(X_train_mmscaled, y_train)
y_tr_pred_rf4 = rf3.predict(X_train_mmscaled)
y_te_pred_rf4 = rf3.predict(X_test_mmscaled)

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [29]:
r2_score(y_train, y_tr_pred_rf4), r2_score(y_test, y_te_pred_rf4)

(0.6923070669330642, 0.6721660467323354)

In [30]:
mean_absolute_error(y_train, y_tr_pred_rf4), mean_absolute_error(y_test, y_te_pred_rf4)

(49.74818638758342, 50.27365897945907)

In [31]:
mean_squared_error(y_train, y_tr_pred_rf4), mean_squared_error(y_test, y_te_pred_rf4)

(6736.568593215656, 7116.773828247378)

In [32]:
#Random forest on our original train test split has given us the best model
#Assess performance using cross-validation
cv_results = cross_validate(rf, X_train, y_train, cv=5)
cv_scores = cv_results['test_score']
cv_scores

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([0.68625556, 0.68794617, 0.679621  , 0.67992778, 0.66658878])

In [33]:
#calculate mean and standard deviation of cv scores
np.mean(cv_scores), np.std(cv_scores)

(0.6800678591429711, 0.0075134597579912645)

In [34]:
#Lower and upper intervals
(np.mean(cv_scores) - 2 * np.std(cv_scores), np.mean(cv_scores) + 2 * np.std(cv_scores))

(0.6650409396269885, 0.6950947786589536)

In [35]:
#Cross validation on rf2
cv_results2 = cross_validate(rf2, X_train_scaled, y_train, cv=5)
cv_scores2 = cv_results2['test_score']
cv_scores2

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([0.68623687, 0.68801341, 0.67912211, 0.68000046, 0.66647882])

In [36]:
np.mean(cv_scores2), np.std(cv_scores2)

(0.6799703349174442, 0.007572341453053185)

In [37]:
(np.mean(cv_scores2) - 2 * np.std(cv_scores2), np.mean(cv_scores2) + 2 * np.std(cv_scores2))

(0.6648256520113378, 0.6951150178235506)

In [38]:
#CV on rf3
cv_results3 = cross_validate(rf3, X_train_mmscaled, y_train, cv=5)
cv_scores3 = cv_results3['test_score']
cv_scores3

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([0.68619699, 0.68802872, 0.67966471, 0.67989072, 0.66660473])

In [39]:
np.mean(cv_scores3), np.std(cv_scores3)

(0.6800771731379796, 0.0075151979259266)

In [40]:
(np.mean(cv_scores3) - 2 * np.std(cv_scores3), np.mean(cv_scores3) + 2 * np.std(cv_scores3))

(0.6650467772861264, 0.6951075689898327)

In [41]:
#Hyperparameter search using RandomizedSearchCV

#number of trees in random forest
n_est = [int(n) for n in np.logspace(start=1, stop=3, num=20)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

random_grid_params = {
        'n_estimators': n_est,
        'max_features': max_features,
        'max_depth': max_depth,
        'min_samples_split': min_samples_split,
        'min_samples_leaf': min_samples_leaf,
        'bootstrap': bootstrap
}
random_grid_params

{'n_estimators': [10,
  12,
  16,
  20,
  26,
  33,
  42,
  54,
  69,
  88,
  112,
  143,
  183,
  233,
  297,
  379,
  483,
  615,
  784,
  1000],
 'max_features': ['auto', 'sqrt'],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'min_samples_split': [2, 5, 10],
 'min_samples_leaf': [1, 2, 4],
 'bootstrap': [True, False]}

In [42]:
rf_randomsearch_cv = RandomizedSearchCV(rf, param_distributions=random_grid_params, cv=5, n_jobs=-1)

In [43]:
rf_randomsearch_cv.fit(X_train, y_train)

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(random_state=350),
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [10, 12, 16, 20, 26, 33,
                                                         42, 54, 69, 88, 112,
                                                         143, 183, 233, 297,
                                                         379, 483, 615, 784,
                                                         1000]})

In [44]:
rf_randomsearch_cv.best_params_

{'n_estimators': 183,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 40,
 'bootstrap': True}

In [45]:
rf_best_cv_results = cross_validate(rf_randomsearch_cv.best_estimator_, X_train, y_train, cv=5)
rf_best_scores = rf_best_cv_results['test_score']
rf_best_scores

/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/opt/miniconda3/envs/conda_env/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([0.68759326, 0.68969915, 0.68015143, 0.6795252 , 0.66675572])

In [46]:
np.mean(rf_best_scores), np.std(rf_best_scores)

(0.6807449527192089, 0.008057492283607012)

In [47]:
(np.mean(rf_best_scores) - 2 * np.std(rf_best_scores), np.mean(rf_best_scores) + 2 * np.std(rf_best_scores))

(0.6646299681519948, 0.6968599372864229)

In [48]:
#Best model
model = rf_randomsearch_cv.best_estimator_
rf_neg_mae = cross_validate(model, X_train, y_train, 
                            scoring='neg_mean_absolute_error', cv=5, n_jobs=-1)

In [49]:
#average and standard deviation of MAE
rf_mae_mean = np.mean(-1 * rf_neg_mae['test_score'])
rf_mae_std = np.std(-1 * rf_neg_mae['test_score'])
rf_mae_mean, rf_mae_std

(50.385517320272086, 0.43192760862379176)

In [50]:
mean_absolute_error(y_test, model.predict(X_test))

50.277811973175986

In [51]:
#Let's find out when is the best time to sell
#Use whole dataset
X = pd.concat([X_train, X_test])
y = pd.concat([y_train, y_test])
two_weeks = X.loc[X['Days_after_release_2 weeks'] == 1]
two_weeks.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
62696,0,220,11.0,1,0,0,0
20796,1,250,10.5,1,0,0,0
3752,0,220,9.5,1,0,0,0
29302,0,220,8.5,1,0,0,0
63673,1,170,12.0,1,0,0,0

In [52]:
#Mean ROI prediction for sneakers sold within the first two weeks
two_weeks_pred = model.predict(two_weeks)
np.mean(two_weeks_pred)

118.87902197218277

In [53]:
#two months
two_months = X.loc[X['Days_after_release_2 months'] == 1]
two_months.head()

,Brand,Retail Price,Shoe Size,Days_after_release_2 weeks,Days_after_release_2 months,Days_after_release_1 year,Days_after_release_Over 1 year
33563,0,220,4.0,0,1,0,0
9834,0,220,14.0,0,1,0,0
81871,0,220,5.5,0,1,0,0
73720,0,220,9.0,0,1,0,0
38866,1,190,4.0,0,1,0,0

In [54]:
two_months_pred = model.predict(two_months)
np.mean(two_months_pred)

108.44223884593545

In [55]:
#one year
one_year = X.loc[X['Days_after_release_1 year'] == 1]
one_year_pred = model.predict(one_year)
np.mean(one_year_pred)

168.24751195737934

In [56]:
#over one year
over_one_year = X.loc[X['Days_after_release_Over 1 year'] == 1]
over_one_year_pred = model.predict(over_one_year)
np.mean(over_one_year_pred)

76.43895855159025